astropy>=4.0.1.post1
avro-python3>=1.8.2
confluent-kafka>=1.4.0
fastavro>=0.21.7
fitsio>=1.0.5
matplotlib>=3.1.1
numpy>=1.16.4
pandas>=0.24.2
penquins>=1.0.2
photutils>=0.7.1
psycopg2>=2.8.3
PyYAML>=5.1.1
requests>=2.22.0
scipy>=1.3.0
SQLAlchemy>=1.3.7
tensorflow>=2.0.0
ztfquery>=1.6.2
